<ion-header>
  <ion-navbar>
    <ion-title *ngIf="!isOn">
      Phonebook
    </ion-title>
    <ion-searchbar *ngIf="isOn" (ionInput)="getItems($event)"></ion-searchbar>
    <ion-buttons end>
      <button ion-button (click)="toggleSearchBar()" large>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let contact of contacts" (click)="editContact($event,contact)">
      <div item-start>
        <span class="my-circle my-circle-{{ contact.name[0].toUpperCase() }}" title="{{ contact.name[0] }}"></span>
      </div>
      <h2>{{contact.name}}</h2>
      <p>{{contact.phone}}</p>
    </button>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab (click)="addContact()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
