page-home {
  .my-circle:before {
    content: attr(title);
    display:inline-block;
    font-size:1em;
    width:2.5em;
    height:2.5em;
    line-height:2.5em;
    text-align:center;
    border-radius:50%;
    background:plum;
    vertical-align:middle;
    margin-right:1em;
    color:white;
  }

  .my-circle-A:before {
    background:#4286f4;
  }
  .my-circle-B:before {
    background:#4150f4;
  }
  .my-circle-C:before {
    background:#41f467;
  }
  .my-circle-D:before {
    background:#f44161;
  }
  .my-circle-E:before {
    background:#2ed82b;
  }
  .my-circle-F:before {
    background:#d8532b;
  }
  .my-circle-G:before {
    background:#4286f4;
  }
  .my-circle-H:before {
    background:#4150f4;
  }
  .my-circle-I:before {
    background:#41f467;
  }
  .my-circle-J:before {
    background:#f44161;
  }
  .my-circle-K:before {
    background:#2ed82b;
  }
  .my-circle-L:before {
    background:#d8532b;
  }
  .my-circle-M:before {
    background:#4286f4;
  }
  .my-circle-N:before {
    background:#4150f4;
  }
  .my-circle-O:before {
    background:#41f467;
  }
  .my-circle-P:before {
    background:#f44161;
  }
  .my-circle-Q:before {
    background:#2ed82b;
  }
  .my-circle-R:before {
    background:#d8532b;
  }
  .my-circle-S:before {
    background:#4286f4;
  }
  .my-circle-T:before {
    background:#4150f4;
  }
  .my-circle-U:before {
    background:#41f467;
  }
  .my-circle-V:before {
    background:#f44161;
  }
  .my-circle-W:before {
    background:#2ed82b;
  }
  .my-circle-X:before {
    background:#d8532b;
  }
  .my-circle-Y:before {
    background:#4286f4;
  }
  .my-circle-Z:before {
    background:#4150f4;
  }
}
